// Soft Ivory (#F8F5E1)
// Honey Gold (#E8B923)
// Deep Brown (#643A00)

:root {
  --pico-bg-color: #f8f5e1;
  --pico-h-color: #643a00;
  --pico-color: #643a00;
  --pico-white-color: #fff;
  --pico-button-bg-color: #e8b923;
}
