@use "../utils/breakpoints" as *;

main {
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;

  .splash {
    position: relative;
    overflow: hidden;

    &__video-wrapper {
      position: relative;
      overflow: hidden;

      @include breakpoint("md") {
        height: 56vw;
      }

      @include breakpoint("xl") {
        height: 45vw;
      }
    }

    &__video {
      display: block;
      width: 100%;
      min-width: 100%;
      min-height: 100%;

      @include breakpoint("md") {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__caption {
      background-color: #643a00;
      padding: 16px;

      @include breakpoint("md") {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(100, 58, 0, 0.5);
        text-align: center;
      }

      h1,
      p {
        color: #fff !important;
      }
    }
  }

  .services {
    background-color: #f8f5e1;
    padding: 45px 0 50px;

    @include breakpoint("md") {
      padding: 85px 0 90px;
    }

    &__caption {
      margin-bottom: 50px;
      text-align: center;
    }

    &__caption-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__caption-img--mobile-visible {
      @include breakpoint("lg") {
        display: none;
      }
    }

    &__caption-img--mobile-hidden {
      display: none;

      @include breakpoint("lg") {
        display: flex;
      }
    }

    &__caption-img--align-right {
      @include breakpoint("lg") {
        align-items: end;
      }
    }

    &__caption-img--align-left {
      @include breakpoint("lg") {
        align-items: start;
      }
    }

    h2,
    p {
      --pico-p-color: #643a00;
      color: var(--pico-p-color);
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        list-style: none;
      }
    }

    &__caption-text {
      @include breakpoint("md") {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
      }
    }
  }

  .about {
    padding: 45px 0 50px;

    @include breakpoint("md") {
      padding: 85px 0 90px;
    }

    &__caption {
      ul {
        margin: 0;
        list-style: none;
      }

      li {
        list-style: circle;
        color: #643a00 !important;
      }
    }
  }
}
