<!DOCTYPE html>
<html lang="{{ .Language.Lang }}" data-theme="light">
  <head>
    {{ partial "head" . }}
  </head>
  <body
    class="page-{{ if .IsHome }}index{{ else }}{{ .File.ContentBaseName }}{{ end }}"
  >
    <header class="header">{{ partial "header.html" . }}</header>
    <main class="main">{{ block "main" . }}{{ end }}</main>
    <footer class="footer">{{ partial "footer.html" . }}</footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const menuToggle = document.querySelector(".header__menu-toggle");
        const navMenu = document.querySelector(".header__nav-menu");
        const hamburgerOpenIcon = document.querySelector(
          ".header__menu-toggle-open-icon"
        );
        const hamburgerCloseIcon = document.querySelector(
          ".header__menu-toggle-close-icon"
        );

        menuToggle.addEventListener("click", function () {
          if (navMenu.style.maxHeight && navMenu.style.maxHeight !== "0px") {
            navMenu.style.maxHeight = "0px";
            hamburgerOpenIcon.style.display = "block";
            hamburgerCloseIcon.style.display = "none";
          } else {
            navMenu.style.maxHeight = navMenu.scrollHeight + "px";
            hamburgerOpenIcon.style.display = "none";
            hamburgerCloseIcon.style.display = "block";
          }
        });

        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.querySelectorAll(".gallery__img");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.forEach((img) => {
          img.onclick = function () {
            modal.style.display = "flex";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt || "none";
          };
        });

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
          modal.style.display = "none";
        };
      });
    </script>
  </body>
</html>
