<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K2JPVQBZ"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="header">{{ partial "header.html" . }}</header>
    <main class="main">{{ block "main" . }}{{ end }}</main>
    <footer class="footer">{{ partial "footer.html" . }}</footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const menuToggle = document.querySelector(".header__menu-toggle");
        const navMenu = document.querySelector(".header__nav-menu");
        const hamburgerOpenIcon = document.querySelector(
          ".header__menu-toggle-open-icon"
        );
        const hamburgerCloseIcon = document.querySelector(
          ".header__menu-toggle-close-icon"
        );

        menuToggle.addEventListener("click", function () {
          if (navMenu.style.maxHeight && navMenu.style.maxHeight !== "0px") {
            navMenu.style.maxHeight = "0px";
            hamburgerOpenIcon.style.display = "block";
            hamburgerCloseIcon.style.display = "none";
          } else {
            navMenu.style.maxHeight = navMenu.scrollHeight + "px";
            hamburgerOpenIcon.style.display = "none";
            hamburgerCloseIcon.style.display = "block";
          }
        });
      });
    </script>
    <!-- The callback parameter is required, so we use console.debug as a noop -->
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbUYpywa1F4VS68pXCFGjGkiLqexAjuRE&callback=console.debug&libraries=maps,marker&v=beta"
    ></script>
  </body>
</html>
