<div class="container">
  <div class="grid">
    <div>
      <nav>
        <ul>
          {{ range .Site.Menus.main }}
          <li>
            <a href="{{ .URL | relLangURL }}" class="contrast">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>

    <div>
      <div>apicentarkosmaj@gmail.com</div>
      <div style="margin: 10px 0">+38163270636</div>
      <a
        style="display: inline-block"
        target="_blank"
        href="https://www.instagram.com/apicentar_kosmaj/"
      >
        <img
          style="max-width: 20px"
          src="/images/instagram.svg"
          alt="Instagram logo"
        />
      </a>
    </div>
  </div>
</div>
