<div class="container">
  <div class="grid">
    <div>
      <nav>
        <ul>
          <li><a href="{{ .Site.BaseURL }}" class="contrast">Почетна</a></li>
          {{/*
          <li><a href="/therapies" class="contrast">Терапије</a></li>
          */}}
          <li><a href="/therapies" class="contrast">Терапије</a></li>
          <li><a href="/services" class="contrast">Услуге</a></li>
          <li><a href="/gallery" class="contrast">Галерија</a></li>
          {{/*
          <li><a href="/contact" class="contrast">Контакт</a></li>
          */}}
        </ul>
      </nav>
    </div>

    <div>
      <div>apicentarkosmaj@gmail.com</div>
      <br />
      <div>+38163270636</div>
    </div>
  </div>
</div>
