<div class="container">
  <nav class="footer__nav">
    <ul>
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL | relLangURL }}" class="contrast">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>

    <div>
      <a target="_blank" href="tel:+38163270636">+38163270636</a>
      <a target="_blank" href="mailto:apicentarkosmaj@gmail.com"
        >apicentarkosmaj@gmail.com</a
      >
      <a target="_blank" href="https://www.instagram.com/apicentar_kosmaj/">
        <img
          style="max-width: 20px"
          src="/images/instagram.svg"
          alt="Instagram logo"
        />
      </a>
    </div>
  </nav>
</div>
