<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-XRFKE5YL1G"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-XRFKE5YL1G");
</script>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{ if .Description }}
<meta name="description" content="{{ .Description }}" />
{{ else if .IsPage }}
<meta name="description" content="{{ .Summary | plainify }}" />
{{ else }}
<meta
  name="description"
  content="Апи центар Космај је јединствен центар за апитерапију који спаја лековиту моћ пчела са савременом технологијом. Искуство природне регенерације, терапије кошницама и сертификованих велнес услуга у мирном шумском окружењу."
/>
{{ end }}
<title>
  {{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }} {{ end }}
</title>
{{ partial "dartsass" . }}
<!-- Matomo -->
<script>
  var _paq = (window._paq = window._paq || []);
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);
  (function () {
    var u = "https://apicentarkosmajrs.matomo.cloud/";
    _paq.push(["setTrackerUrl", u + "matomo.php"]);
    _paq.push(["setSiteId", "1"]);
    var d = document,
      g = d.createElement("script"),
      s = d.getElementsByTagName("script")[0];
    g.async = true;
    g.src = "https://cdn.matomo.cloud/apicentarkosmajrs.matomo.cloud/matomo.js";
    s.parentNode.insertBefore(g, s);
  })();
</script>
<!-- End Matomo Code -->
<!-- Umami -->
<script
  defer
  src="https://cloud.umami.is/script.js"
  data-website-id="f8619970-4c67-4259-9bff-556e6fee8dc6"
></script>
<!-- End Umami Code -->
