<nav>
  <ul>
    <li>
      <a href="/"><img src="/images/logo.jpg" alt="Location Map" /></a>
    </li>
  </ul>

  <button
    style="border: 0; padding: 1px 6px; background-color: #e8b923"
    class="header__menu-toggle"
    aria-label="Toggle Menu"
  >
    <svg
      class="header__menu-toggle-open-icon"
      viewBox="0 0 100 80"
      width="40"
      height="40"
    >
      <rect width="100" height="16" rx="6" y="4" fill="#fff"></rect>
      <rect width="100" height="16" rx="6" y="32" fill="#fff"></rect>
      <rect width="100" height="16" rx="6" y="60" fill="#fff"></rect>
    </svg>

    <svg
      class="header__menu-toggle-close-icon"
      viewBox="0 0 100 100"
      width="40"
      height="40"
    >
      <line
        x1="20"
        y1="20"
        x2="80"
        y2="80"
        stroke="#fff"
        stroke-width="16"
        stroke-linecap="round"
      ></line>
      <line
        x1="80"
        y1="20"
        x2="20"
        y2="80"
        stroke="#fff"
        stroke-width="16"
        stroke-linecap="round"
      ></line>
    </svg>
  </button>
  <ul class="header__nav-menu">
    <li><a href="#" class="">Usluge</a></li>
    <li><a href="#" class="">O nama</a></li>
    <li><a href="#" class="">Kontakt</a></li>
  </ul>
</nav>
