{{ define "main" }}

<section class="splash">
  <div class="splash__video-wrapper">
    <video
      autoplay
      muted
      loop
      playsinline
      poster="{{ "images/cell-2.jpeg" | absURL }}"
      class="splash__video"
    >
      <source src="#" type="video/mp4" />
    </video>
  </div>

  <div class="splash__caption">
    <h1>Lorem Ipsum</h1>
    <p>
      Aenean tempor mi quis ex faucibus, et porttitor odio efficitur. Aenean ac
      blandit tortor. Phasellus eget aliquet elit. Nam urna diam, lobortis vel
      risus in, maximus vestibulum libero. Quisque ultrices enim vulputate
      finibus malesuada. Nulla at risus at ante eleifend aliquet vel vitae
      sapien. Aliquam eu tristique diam. Nam venenatis augue tortor, vitae
      euismod purus condimentum non. Praesent at nibh tortor. Nullam ultricies
      ultrices libero.
    </p>
    <button>Više</button>
  </div>
</section>

<section class="services">
  <div class="container">
    <div class="services__caption">
      <h2>Lorem Ipsum</h2>
      <p>
        Aenean tempor mi quis ex faucibus, et porttitor odio efficitur. Aenean
        ac blandit tortor. Phasellus eget aliquet elit. Nam urna diam, lobortis
        vel risus in, maximus vestibulum libero. Quisque ultrices enim vulputate
        finibus malesuada. Nulla at risus at ante eleifend aliquet vel vitae
        sapien. Aliquam eu tristique diam. Nam venenatis augue tortor, vitae
        euismod purus condimentum non. Praesent at nibh tortor. Nullam ultricies
        ultrices libero.
      </p>
    </div>

    <div class="grid">
      <div
        style="display: flex; flex-direction: column; justify-content: center"
      >
        <img src="{{ "images/cell-5.jpeg" | absURL }}" />
      </div>
      <div>
        <ul>
          <li>
            <h2>Lorem</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              auctor dolor a consequat aliquam. Donec id ultrices nunc. Mauris
              eget auctor lorem, vitae cursus metus. In augue ante, fermentum
              eget nibh id, egestas pretium massa.
            </p>
          </li>
          <li>
            <h2>Lorem</h2>
            <p>
              Vivamus et ultricies diam. Aliquam ornare orci libero, rutrum
              porta tortor aliquet et. Quisque venenatis non nisl ut hendrerit.
              Pellentesque pellentesque pulvinar tempor. Morbi iaculis convallis
              lacinia. Integer ac ligula ut est vestibulum faucibus quis ut
              elit.
            </p>
          </li>
          <li>
            <h2>Lorem</h2>
            <p>
              Morbi molestie ullamcorper ipsum, id condimentum augue venenatis
              ut. Integer accumsan tincidunt enim eget vehicula. Mauris
              dignissim mi nec elit faucibus interdum. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia curae;
              Donec at leo in sapien fermentum scelerisque. Nulla sed justo
              diam.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}
