{{ define "main" }}

<section class="splash">
  <div class="splash__video-wrapper">
    <video
      autoplay
      muted
      loop
      playsinline
      poster="{{ "images/poster-1600.jpeg" | absURL }}"
      class="splash__video"
    >
      <source src="{{ "videos/apicentarkosmaj.mp4" | absURL }}" type="video/mp4" />
    </video>
  </div>

  <div class="splash__caption">
      <h1>{{ i18n "index_title" }}</h1>
      <p>{{ i18n "index_subtitle" }}</p>
  </div>
</section>

<section class="therapies">
  <div class="container">
    <div class="therapies__caption">
      <h2>{{ i18n "therapies_title" }}</h2>
      <p>{{ i18n "therapies_subtitle" }}</p>
    </div>

    <div class="therapies__item">
      <div class="therapies__item-img">
        <img src="{{ "images/inhalacija.jpeg" | absURL }}" alt="inhalation tool" />
      </div>

      <div class="therapies__item-text">
        <h2>{{ i18n "therapy_hive_air_title" }}</h2>
        <p>{{ i18n "therapy_hive_air_description" }}</p>
        <a role="button" href="{{ "/therapies/" | relLangURL }}">
          {{ i18n "go_to_services" }}
        </a>
      </div>
    </div>

    <div class="therapies__item therapies__item--margin-top therapies__item--reverse">
      <div class="therapies__item-img">
        <img src="{{ "images/lezanje.jpeg" | absURL }}" alt="bad on top of the bee hives" />
      </div>

      <div class="therapies__item-text therapies__item-text--reverse">
        <h2>{{ i18n "therapy_vibrations_title" }}</h2>
        <p>{{ i18n "therapy_vibrations_description" }}</p>
        <a role="button" href="{{ "/therapies/" | relLangURL }}">
          {{ i18n "go_to_services" }}
        </a>
      </div>
    </div>

    <div class="therapies__item">
      <div class="therapies__item-img">
        <img src="{{ "images/zvuk.jpeg" | absURL }}" alt="bee hives" />
      </div>

      <div class="therapies__item-text">
        <h2>{{ i18n "therapy_sound_title" }}</h2>
        <p>{{ i18n "therapy_sound_description" }}</p>
        <a role="button" href="{{ "/therapies/" | relLangURL }}">
          {{ i18n "go_to_services" }}
        </a>
      </div>
    </div>

    <div class="therapies__item therapies__item--margin-top therapies__item--reverse">
      <div class="therapies__item-img">
        <img src="{{ "images/joni.jpeg" | absURL }}" alt="bad and bee hives in api-chamber" />
      </div>

      <div class="therapies__item-text therapies__item-text--reverse">
        <h2>{{ i18n "therapy_negative_ions_title" }}</h2>
        <p>{{ i18n "therapy_negative_ions_description" }}</p>
        <a role="button" href="{{ "/therapies/" | relLangURL }}">
          {{ i18n "go_to_services" }}
        </a>
      </div>
    </div>
  </div>
</section>

<section class="services">
  <div class="container">
    <div class="services__caption">
      <h2>{{ i18n "services_title" }}</h2>
    </div>

    <div class="grid">
      <div class="services__caption-img services__caption-img--mobile-visible">
        <img src="{{ "images/services.jpeg" | absURL }}" alt="a laptop standing on the desk" />
      </div>

      <div class="services__caption-text">
        <ul>
          <li>
            <h2>{{ i18n "service_working_in_the_apichamber_title" }}</h2>
            <p>{{ i18n "service_working_in_the_apichamber_description" }}</p>
          </li>
          <li>
            <h2>{{ i18n "service_overnight_stay_in_the_apichamber_title" }}</h2>
            <p>{{ i18n "service_overnight_stay_in_the_apichamber_description" }}</p>
          </li>
          <li>
            <h2>{{ i18n "service_vocal_cords_recovery_treatment_title" }}</h2>
            <p>{{ i18n "service_vocal_cords_recovery_treatment_description" }}</p>
          </li>
          <li>
            <h2>{{ i18n "service_team_building_title" }}</h2>
            <p>{{ i18n "service_team_building_description" }}</p>
          </li>
          <li>
            <h2>{{ i18n "service_pulmonologist_check_up_in_the_apichamber_title" }}</h2>
            <p>{{ i18n "service_pulmonologist_check_up_in_the_apichamber_description" }}</p>
          </li>
        </ul>

        <a role="button" tabindex="0" href="{{ "/services/" | relLangURL }}" style="align-self: flex-start;">{{ i18n "go_to_services" }}</a>
      </div>

      <div class="services__caption-img services__caption-img--mobile-hidden services__caption-img--align-left">
        <img src="{{ "images/services.jpeg" | absURL }}" alt="a laptop standing on the desk" />
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="grid">
      <div>
        <div class="about__caption">
          <h2>{{ i18n "about_title" }}</h2>
          <p>{{ i18n "about_subtitle" }}</p>
          <h3>{{ i18n "about_caption_title" }}</h3>
          <ul>
            <li>{{ i18n "about_caption_feature_item_1" }}</li>
            <li>{{ i18n "about_caption_feature_item_2" }}</li>
            <li>{{ i18n "about_caption_feature_item_3" }}</li>
          </ul>
        </div>
      </div>

      <div
        style="display: flex; flex-direction: column; justify-content: center"
      >
        <gmp-map center="44.4911768,20.5809529" zoom="15" map-id="DEMO_MAP_ID">
          <gmp-advanced-marker
            position="44.4911768,20.5809529"
            title="Apicentar Kosmaj"
          ></gmp-advanced-marker>
        </gmp-map>
      </div>
    </div>
  </div>
</section>

{{ end }}
